@font-face {
    font-family: 'MyFont';
    src: url('./assets/Merriweather-Regular.ttf') format('trueType');
    font-weight: 600;
}
*
{
    font-family: 'MyFont';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vmax;
}
body,html
{
    height: 100vh;
    width: 100vw;
}
button{
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-shadow: inherit;
    color: inherit;
    transition: transform .2s ease;
}
#container
{
    height: 100%;
    width: 100%;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    background: url('./assets/bg0.jpg');
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.focus
{
    width: 90%;
    height: 14vh;
    opacity: 100%;
}
input:focus,button:focus
{
    border: none;
    outline: none;
}
input
{
    border: none;
    position: absolute;
    padding: 0vh .75vw;
    background-color: white;
    width: 40%;
    height: 7vh;
    font-size: 2rem;
    border-radius: 2rem;
    opacity: 40%;
    transition: all .3s ease;
}
input:focus
{
    width: 90%;
    opacity: 100%;
    height: 10vh;
}
#content
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    justify-content: center;
    color: white;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
}
#main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#location
{
    font-size: 7rem;
    grid-area: a;
}
#tempText
{
    font-size: 3rem;
    grid-area: b;
}

#switch
{
    position: fixed;
    bottom: 2%;
    left: 1%;
    height: 4vh;
    width: 10vmin;
    border-radius: 5rem;
    appearance: none;
    background-color: white;
    font-size: 1rem;
    transition: all .2s ease;
    opacity: 60%;
}
#switch::after
{
    content: 'C';
    position: absolute;
    right: 20%;
    top: 20%;
    height: 100%;
    bottom: 20%;
    z-index: 1;
}
#switch:checked:after
{
    content: 'F';
    position: absolute;
    left: 20%;
}
#switch:checked::before
{
    left:45%;
}
#switch::before
{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    z-index: 2;
    width: 50%;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    transition: all .2s ease;
}
a
{
    position: fixed;
    bottom: 2%;
    right: 0;
    height: 5vh;
    width: 5vw;
    background: url(./assets/github-icon.svg);
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .2s ease;
}
a:hover
{
    transform: scale(1.1);
}