@font-face {
    font-family: 'MyFont';
    src: url('./assets/Merriweather-Regular.ttf') format('trueType');
    font-weight: 600;
}
*
{
    font-family: 'MyFont';
    margin: 0;
    box-sizing: border-box;
    font-size: 2vmin;
}
body,html
{
    height: 100vh;
}
#container
{
    height: 100%;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./assets/bg0.jpg');
    background-size:cover;
    background-position: center center;
}
#search::-webkit-search-decoration,
#search::-webkit-search-cancel-button,
#search::-webkit-search-results-button,
#search::-webkit-search-results-decoration { display: none; }
#search
{
    border: 3px solid rgba(0, 0, 0, 1);
    position: fixed;
    padding: 0vh 1vw;
    outline: none;
    background-color: transparent;
    box-shadow: inset 0vh 7vh rgba(0, 0, 0, 0.500);
    width: 95%;
    height: 7vh;
    font-size: 2rem;
    opacity: 40%;
    transition: all .3s ease;
    color: rgb(255, 255, 255);
}
#search:focus
{
    opacity: 100%;
    border: 5px solid rgba(0,0,0,0.75);
    box-shadow: inset 0vh 10vh rgba(0, 0, 0, 0.5);
    height: 10vh;
}
#content
{
    height: 100%;
    display: flex;
    color: white;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
}
#main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#location
{
    font-size: 7rem;
}
#tempText
{
    font-size: 3rem;
}

#switch
{
    position: absolute;
    bottom: 2%;
    left: 1%;
    height: 4vh;
    width: 10vmin;
    appearance: none;
    background-color: white;
    transition: all .2s ease;
    user-select: none;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}
#switch::after
{
    content: 'C';
    position: absolute;
    right: 15%;
    top: 20%;
    height: 100%;
    bottom: 20%;
    z-index: 1;
    transition: all .2s ease;
}
#switch:checked:after
{
    content: 'F';
    position: absolute;
    left: 15%;
}
#switch:checked::before
{
    left:50%;
}
#switch::before
{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 7px;
    z-index: 2;
    width: 50%;
    background-color: rgb(0, 0, 0);
    transition: all .2s ease;
}
a
{
    position: absolute;
    bottom: 2%;
    right: 1vh;
    height: 5vh;
    width: 5vw;
    background: url('./assets/github-icon.svg');
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .2s ease;
    user-select: none;
    outline: none;
}
a:hover
{
    transform: scale(1.1);
}